/* Original Design of website: Sheryians coding school
   Developer: Akhilesh Shukla
   Library: No library, Basic CSS
   Created on: 22/10/2023
    */

/*CSS Document*/

* {
  margin: 0;
  padding: 0;
  font-family: "Nimbus Sans L";
  box-sizing: border-box;
}
@font-face {
  font-family: Nimbus Sans L;
  src: url(nimbus-sans-l.otf+ttf/nimbus-sans-l_regular.ttf);
}
html,
body {
  width: 100%;
  height: 100%;
}

#main {
  width: 100%;
}
#nav {
  position: relative;
  display: flex;
  padding: 3vw 10vw;
  justify-content: space-between;
}
#nleft {
  display: flex;
  gap: 40px;
}

#nav a {
  font-size: 15px;
  text-decoration: none;
  color: #000;
  font-weight: 600;
}

#nav #centeratag {
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15vw;
  width: 100%;
  padding: 0vw 10vw;
}
#sustain {
  width: 10vw;
}
#sustain p {
  font-weight: 800;
  opacity: 0.5;
  text-transform: capitalize;
  font-size: 12px;
  margin: 10px 0;
}
#sustain #susimagewrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 15vw;
}
#susimagewrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#ephemeral {
  letter-spacing: -0.3vw;
  position: relative;
  width: 30vw;
  min-height: 42vw;
}
#imgntext {
  width: fit-content;
  height: fit-content;
}

#ephemeral img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#ephemeral p {
  margin-top: 30px;
  font-size: 1.3vw;
  letter-spacing: -0.07vw;
  line-height: 1.3;
  width: 40%;
}

#ephemeral #headings {
  top: -22%;
  left: -20%;
  position: absolute;
}
#ephemeral h1 {
  font-size: 6vw;
  line-height: 1;
  font-weight: 400;
}
#visit {
  display: flex;
  gap: 10px;
  align-items: center;
}
#circlev {
  border-radius: 50%;
  border: 1px solid #5e5e5e;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 3vw;
  height: 3vw;
}
#circlev i {
  color: #5e5e5e;
}
#visit h3 {
  font-weight: 400;
  color: #5e5e5e;
}

#motive {
  margin-top: 7vw;
  padding: 3vw 10vw;
  display: flex;
  justify-content: space-between;
}
#motive p {
  line-height: 1.7;
  letter-spacing: -0.12vw;
  position: relative;
  right: 0;
  text-align: right;
  width: 85%;
  font-size: 2.1vw;
}
#motive span {
  display: inline-block;
  border-radius: 100px;
  margin: 0 13px;
  margin-bottom: -12.5px;
}
#onespan {
  width: 80px;
  height: 50px;
  background-image: url(Images/bluegirl.jpg);
  background-size: cover;
  background-position: 0% 60%;
}
#twospan {
  width: 130px;
  height: 60px;
  background-image: url(Images/shaljam.jpg);
  background-size: cover;
  background-position: 0% 48%;
}

#threespan {
  width: 80px;
  height: 50px;
  background-image: url(Images/grass.jpg);
  background-size: cover;
  background-position: 0% 60%;
}
#pictures {
  justify-content: space-between;
  display: flex;
  margin-top: 8vw;
  padding: 3vw;
  padding-left: 14vw;
  padding-right: 12vw;
}
#firstpic {
  width: 17vw;
}
#firstpic #picimg {
  width: 100%;
  height: 24vw;
  margin-bottom: 1vw;
}
#picimg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#firstpic h1,
#secpic h1 {
  letter-spacing: -0.1vw;
  font-weight: 100;
  font-size: 2vw;
}
#firstpic p,
#secpic p {
  opacity: 0.8;
  font-size: 1vw;
  letter-spacing: -0.07vw;
  line-height: 1;
  margin-top: 10px;
}
#secpic {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 25vw;
}
#secpic #picimg {
  width: 100%;
  height: 37vw;
  margin-bottom: 1vw;
}
#secpic p {
  width: 50%;
  text-align: right;
}
#banner {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 8vw;
}

#bimage {
  width: 65%;
  height: 60vh;
  background-color: red;
}
#bimage img {
  width: 100%;
  height: 100%;
  object-position: 0% 70%;
  object-fit: cover;
}

#btext {
  width: 35%;
  padding: 0 3vw;
}

#btext h1 {
  font-size: 2.8vw;
  font-weight: 400;
  letter-spacing: -0.15vw;
  line-height: 1;
}
#btext p {
  margin-top: 20px;
  width: 60%;
  font-size: 1vw;
}

#future {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: #fff;
}

#future video {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

#ftext {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 9999;
  background-color: #fff;
  padding: 1vw 2vw;
  border-radius: 10px;
}

#ftext button {
  padding: 0.8vw 1.7vw;
  font-size: 0.6vw;
  text-transform: capitalize;
  margin-top: 10px;
  font-weight: 700;
  border-radius: 100px;
  background-color: #fff;
  border: 1px solid #c6c6c6;
  color: #6f6f6f;
}
